body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, grey, black)
}

.calc-frame {
    width: 400px;
    height: 500px;
    position: relative;
    top: 60px;
    padding: 5px;
    background: linear-gradient(210deg, red, rgb(57, 24, 202));
    border-radius: 10px;
}

.calc-screen {
    height: 48px;
    width: 100%;
    position: relative;
    top: 0;
    background-color: rgb(65, 65, 65);
    color: rgb(247, 234, 59);
    font-size: 40px;
    display: flex;
    justify-content: right;
    font-family: 'Russo one';
    overflow: hidden;
}

.controls {
    width: 100%;
    display: grid;
    border-top: 2px solid black;
    position: relative;
    top: 0px;
    height: 100%;
    grid-template-columns: 75% 25%;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 40px;
    font-family: 'Russo one';
}

.button {
    border: 2px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 243, 197);
}

.zero {
    height: 72px
}

.filler {
    height: 72px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operators {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 469px;
}

.op{
    border: 2px black solid;
    background-color: rgb(228, 56, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Russo one';
}

#divide {
    height: 72px;
}

.equal, .floating-point {
    background-color: rgb(253, 186, 2);
}

a:hover {
    color: rgb(201, 51, 5);
    font-size: 18px;
    background-color: rgb(2, 39, 109);
    border-radius: 10px;
    border: 1.5px red solid;
}

.button:hover {
    background-color: rgb(52, 219, 30);
    font-size: 55px;
}

.op:hover {
    background-color: rgb(255, 225, 52);
    font-size: 65px;
}

.filler:hover {
    background-color: rgb(17, 211, 49);
    font-size: 55px;
}

footer {
    background-color: rgb(208, 238, 127);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(194, 68, 52);
}

footer > p {
    font-family: 'Pacifico';
}

footer > a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
